/* To delete header border */
body{
    margin: 0;
    padding: 0;
}
/* Header start */
.o-header{
    background-color: #093C51;
}
.o-buildings-container,.o-sub-header{
    max-width: 800px;
    margin: auto;
}
.o-sub-header{
    display: flex;
    justify-content: space-between;
}
.o-title,.o-indicationtitle{
    font-family: 'Montserrat',sans-serif;
}
#appName, .o-user{
    font-weight: 400;
    color: #fff;
}
#appName a, a:visited{
    text-decoration: none;
    color: #fff;
}
.o-user_icon{
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 1rem;
}
.o-user,.o-free-classrooms,.o-existingReserve{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.o-user{
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.o-user:hover{
    background-color: rgb(6, 36, 49);
}
.o-user:hover .o-options{
    display: block;
}
.o-options{
    width: 14.5rem;
    display: none;
    position: absolute;
    background-color: #093C51;
    top: 5rem;
    right: 0rem;
    text-align: center;
}
.o-options p:hover{
    background-color: rgb(6, 36, 49);
}
.o-options a,.o-btn-edit a{
    text-decoration: none;
    color: #fff;
}
/* Header end */

/* Building Cards start */
.o-indicationtitle{
    text-align: center;
}
.o-search-classroom-link,.o-search-classroom-link:visited{
    text-decoration: none;
    color: #000;
}
.o-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.o-building{
    width: 16rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    margin: 1rem;
    cursor: pointer;    
    transition: 0.3s;
}
.o-building:hover{
    transform: scale(1.02);
}
.o-img-card{
    width: 16rem;
    height: 9rem;
    border-radius: 0.74rem 0.74rem 0 0;
}
.o-info-card{
    padding: 1rem;
}
.o-existingReserve{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem;
    border-top: 1px solid #9CA7BC;
}
.o-existingReserve h4{
    margin: 1rem 0 0 0;
}
.o-existingReserve p{
    margin: 0.5rem 0 0 0;
}
.o-btn-edit{
    width: 10rem;
    color: #ffffff;
    background-color: #ff8b1c;
    border: 1px solid #ff8b1c;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-self: center;
}
.o-btn-edit:hover{
    background-color: #f87f0e;
}
.o-btn-edit h4{
    margin: 0;
}
/* Building Cards end */
/* Copyright Footer start*/
.o-footer{
    margin: 2rem 0 0 0;
    padding: 2rem;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
.o-footerInfo{
    margin: 1rem;
    padding: 1rem;
    border-left: 1px solid #000000;
}
/* Copyright Footer end*/
