/* To delete header border */
body{
    margin: 0;
    padding: 0;
}
/* Header start */
.o-header{
    background-color: #093C51;
}
.o-sub-header{
    display: flex;
    flex-direction: column;
}
.o-title,.o-indicationtitle{
    font-family: 'Montserrat',sans-serif;
}
#appName, .o-user{
    font-weight: 400;
    color: #fff;
}
#appName{
    font-size: 1.75rem;
    padding: 0.1rem;
    text-align: center;
}
.o-user{
    font-size: 1.125rem;
}
.o-user_icon{
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 1rem;
}
.o-user,.o-free-classrooms{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.o-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.o-user:hover{
    background-color: rgb(6, 36, 49);
}
.o-user:hover .o-options{
    display: block;
}
.o-options{
    width: 14.5rem;
    display: none;
    position: absolute;
    background-color: #093C51;
    top: 8.2rem;
    right: 6.2rem;
    text-align: center;
}
.o-options p:hover{
    background-color: rgb(6, 36, 49);
}
.o-options a, a:visited{
    text-decoration: none;
    color: #fff;
}
/* Header end */

/* Navigation bar start */
.o-nav-menu{
    margin: auto;
    border: 1px solid #9CA7BC ;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    margin: 0 1rem;
    padding: 0 1rem;
}
li{
    float: left;   
    padding: 0.5rem 0.5rem; 
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color:#9CA7BC;
}
li:hover{
    color: #fff;
    background-color: #FF8B1C;
    cursor: pointer;
}
/* Navigation bar end */

.o-btn-back,.o-btn-link {
    display: flex;
    top: 70px;
    left: 20px;
    font-family: 'Roboto',sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

/* Classroom Cards start */
.o-indicationtitle{
    text-align: center;
}
.o-classroom-calendar-link,.o-classroom-calendar-link:visited{
    text-decoration: none;
    color: #000;
}
.o-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o-classroom{
    width: 16rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    margin: 1rem 1rem 1rem 0;
    cursor: pointer;
}
.o-img-card{
    width: 16rem;
    height: 9rem;
    border-radius: 0.74rem 0.74rem 0 0;
}
.o-info-card{
    padding: 1rem;
}
/* Classroom Cards end */
